<form method="POST" action="/new">
  <h2>What Would You Like to Say?</h2>
  <input type="text" name="text" placeholder="Message" />
  <input type="text" name="user" placeholder="User" />
  <button type="submit">Submit</button>
</form>
