<html>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% messages.map((message) => { %>
      <li>
        <%= message.text %>, Posted by <%= message.user %> on <%= message.added
        %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
